html, body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #333;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
:focus, :active {
	outline:none;
}
input, select, textarea, button {
	position: relative;
	font-size: 1em;
	border-radius: 3px;
	border: 1px solid #a8a8a8;
	font-family: 'Roboto',Helvetica,Arial,sans-serif;
	box-sizing: border-box;
	vertical-align: middle;
}
textarea {
	padding: 8px;
	resize: none;
}
input {
	padding: 6px;
}
select {
	padding: 7px;
	vertical-align: middle;
}
a, a:visited, .ui-widget-content a { 
	color: #3B5998; 
	outline: none; 
	text-decoration: none;
	text-shadow: none;
	cursor: pointer; 
}
a.orange {
	color: #f57f24;
}
footer {
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    width: 100%;
    bottom: 0;
    position: absolute;
}
footer > :first-child {
	float: left;
	margin-left: 5%;
}
footer > :last-child {
	float: right;
	margin-right: 5%;
}
footer > :last-child a {
	margin-left: 10px;
}
footer a, footer a:visited {
	color: #f57f24;
}
#wrapper {
	width: 100%;
	min-height: 100vh;
	margin:0;
	position: relative;
	overflow: hidden;
}
#wrapper.newtab {
    background: #f2f3f3;
}
#wrapper.login {
	font-size: 1.1em;
    display: flex;
    flex-direction: column;
    z-index: 10;
   	max-width: 350px;
	margin: 0 auto;
	text-align: center;
}
#wrapper.newtab .content {
	width: 800px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
}
.login-top {
	flex: 1 0 auto;
    margin-top: 1em;
}
.login-top .logo.brand {
    border: 1px solid #6b6b6b;
}
.login-content {
	display: none;
	flex: 2 1 auto;
}
.login-content.visible {
	display: block;
}
.login-content.identity {
	position: relative;
	flex: 1 1 500px;
}
.login-content input {
	padding: 12px;
	margin: 8px 0 4px 0;
	font-size: 1.2em;
}
.login-content input::-ms-clear, .login-content input::-ms-reveal {
  display: none;
}
.login-content .select-container {
	padding: 5px;
	margin: 8px 0 4px 0;
	font-size: 1.1em;
}
.login-content.verify input, .login-content.identity input {
	width: 100%;
}
.login-content.verify p {
    width: 220px;
    margin: 10px auto;
}
.login-content.verify p strong {
	text-decoration: underline;
}
.login-content.identity .login-list button > div {
	transition: opacity 300ms;
	opacity: 0;
}
.login-content.identity .login-list:hover button > div {
	opacity: 1;
}
.login-identity .avatar {
	width: 100px;
	height: 100px;
}
.login-identity .identity {
	margin: 4px 20px 0 0;
	white-space: nowrap;
	max-width: 400px;
}
.login-identity .identity .back {
	font-size: 0.9em;
	border-radius: 50%;
	width: 20px;
	cursor: pointer;
	padding: 5px 0;
}
.login-identity .identity .back:hover {
	background: #ddd;
}
.login-body {
	display: none;
	position: relative;
}
.login-body.active {
	display: block;
}
.login-body .captcha {
	display: none;
}
.login-body .captcha .ui-icon {
	background-image: url(images/ui-icons_ffffff_256x240.png);
	display: inline-block; 
	vertical-align: middle;
	margin: 0 5px 2px 5px;
}
.login-body .captcha > div {
	padding: 5px 0;
}
.login-tools {
	overflow: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    margin: 2em 0;
    display: table;
}
.login-tools a {
	display: table-cell;
}
.login-tools a + a {
	width: 100%;
    text-align: right;
}
.login-tools:not(.logging) .cancel {
	display: none;
}
.mugshot-notice {
	visibility: hidden;
	text-align: left;
}
.mugshot-notice.visible {
	visibility: visible;
}
.site-logo {
	position: relative;
	display: inline-block;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 17%;
	border: 1px solid #ccc;
}
.site-logo > img {
	opacity: 0;
	max-width: 175px;
	max-height: 175px;
}
.icon-view {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 4px;
}
.icon-view .fa-spinner {
    position: absolute;
    top: 52%;
    left: 48%;
}
.icon-view li {
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;
    list-style: none;
    float: left;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background: #fff;
    margin: 4px;
    overflow: hidden;
    cursor: pointer;
}
.icon-view li.hidden {
	visibility: hidden;
	height: 0 !important;
    border-top-width: 0;
    border-bottom-width: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.icon-view li:hover, .icon-view li.contextmenu-hover {
  	border: 1px solid #f57f24;
}
.icon-view li.selected {
	border: 2px solid #f57f24;
}
.icon-view li:hover a {visibility: visible }
.icon-view .site-logo {
	background: url(images/default-image.png) no-repeat center center transparent;
	background-size: contain;
	width: 65%;
    height: 65%;
    margin-top: 10%;
    border: none;
}
.icon-view .label {
    overflow: hidden;
    height: 2em;
    color: #f57f24;
    font-size: 12px;
}
.icon-view .label .inner {
	display: table;
    margin: auto;
}
.icon-view .label span {
    display: table-cell;
    vertical-align: middle;
    height: 2em;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
}
.icon-view.medium li {
	text-align: center;
	width: 130px;
	height: 130px;
	transition: transform 300ms;
}
.icon-view.medium li:hover, .icon-view.medium li.contextmenu-hover {
	z-index: 99;
	transform: scale(1.15);
}
.icon-view .more {
    position: absolute;
    top: 3px;
    right: 6px;
    width: 16px;
    height: 16px;
    color: #666;
    opacity: 0;
    transform: scale(0.25);
    transition: transform 300ms, opacity 200ms;
}
.icon-view li:hover .more {
	opacity: 1;
    transform: scale(1);
    transition: transform 300ms 300ms, opacity 200ms 300ms;
}
.filter-panel {
	z-index: 9999;
	position: absolute;
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.16);
	max-height: 500px;
    overflow: auto;
}
.filter-panel > input {
	margin: 0 10px 10px 10px;
}
.filter-panel > label {
	display: block;
	cursor: pointer;
	padding: 0 10px;
	margin: 5px 0;
}
.filter-panel > label:hover {
	background: #ccc;
}
.filter-panel > label:hover > input[type=checkbox].checkbox:not(:checked) + label::before, .filter-panel > label:hover > input[type=radio].radio:not(:checked) + label::before {
	color: #fff;
} 
.filter-panel > label > input {
	margin: 5px 5px 5px 0;
}
.filter-panel > label > .checkbox + label::before, .filter-panel > label > .radio + label::before {
	margin: 3px 5px 3px 0;
}
.filter-panel > div {
	text-align: center;
	margin: 5px;
}
.filter-panel .spinner {
	text-align: center;
	margin: 5px 0;
}
.filter-panel .date-range {
	display: table;
	text-align: center;
	border-top: 1px solid #ebebeb;
}
.filter-panel .date-range > div {
	display: table-cell;
	font-weight: bold;
	padding: 5px;
}
.select-container {
	position: relative;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #a8a8a8;
	background: linear-gradient(to bottom, #FFFFFF 50%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr='#FFFFFF',endColorStr='#eeeeee');
	margin: 0;
	padding: 0;
	vertical-align: middle;
	box-sizing: border-box;
	text-shadow: none;
}
.select-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    margin: -4px 0 0 0;
    padding: 2px;
    border-color: #333;
    border-style: solid;
    border-width: 0 1.333px 1.333px 0;
    transform: rotate(45deg);
}
.select-container.large::after {
	right: 9px;
}
.select-container.disabled {
	background: #eee;
	filter: none;
}
.select-container div {
    z-index: 900;
	line-height: normal;
	text-align: left;
	position: absolute !important;
}
.select-container span {
	display: block;
	color: #000;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 7px;
    margin-right: 20px;
}
.select-container.disabled span {
	color: grey !important;
}
.select-container.large span {
	padding-left: 17px;
	margin-right: 26px;
}
.select-container select {
	z-index: 901;
	opacity: 0 !important;
	float: left;
	border: 0;
}
.search-panel .search {
	width: 100%;
}
.search-select {
	min-width: 150px;
}
.search-select + div {
	padding-left: 20px;
}
#getclicky {
	position: absolute; 
	top: -100px; 
	left: -100px; 
	width: 100px; 
	height: 100px; 
	visibility: hidden
}
#suggest-box {
	background: rgba(255, 255, 255, 0.85);
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	overflow: hidden;
}
#suggest-box > div { display: none }
#suggest-box span {
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1px;
}
#suggest-box .header {
	display: block;
	font-style: italic;
	color: grey;
}
#suggest-box .item {
	display: block;
	white-space: nowrap;
	padding: 1px;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 12px;
	color: black;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
}
#suggest-box .item.selected {
	border: 1px solid #ff7f00;
	background: linear-gradient(to bottom, #fff3e7, #fff9f4);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fff3e7,endColorStr=#fff9f4)';
}
#suggest-box .content {
	display: inline-block;
	vertical-align: middle;
	text-indent: 23px;
	text-align: left;
}
#suggest-box .highlight {
	border: 1px solid #ddd;
	padding: 0;
	margin: -1px;
	border-radius: 3px;
	background: #f3f3f3;
	line-height: 18px;
}
#suggest-box .grey {
	color: grey;
	display: inline;
	font-size: 11px;
}
#suggest-history .title {
	width: 40%;
	min-width: 40%;
	display: inline-block;
	vertical-align: middle;
}
#suggest-history .url {
	width: 59%;
	display: inline-block;
	vertical-align: middle;
	color: grey;
	font-size: 11px;
	margin: -1px;
	padding: 0;
}
.offline {
    color: #1f497d;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
    font-style: italic;
    z-index: 9;    
}
.logo {
	display: inline-block;
	position: relative;
	min-width: 205px;
	max-width: 250px;
	margin: 5px auto;
	color: #303030;
	font-size: 11px;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}
.logo:not(.brand)::before {
	content: "";
	height: 57px;
	display: block;
}
.logo:not(.brand) {
	background: url(images/logo.png) no-repeat center center;
    background-size: contain;
	max-width: 100%;
	height: 65px;
}
.logo.brand {
	background: #fff;
    border-radius: 4px;
    margin-bottom: 24px;
    height: 65px;
    padding: 2px;
}
.logo > img, .logo > .wrap > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	max-height: 65px;
	max-width: 250px;
}
.logo > span {
	text-decoration: underline;
}
.logo > .wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.logo > .powered {
	background: url(images/logo.png) no-repeat center right;
    background-size: 75px;
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 9px;
    color: #CE5500;
    transform: translate(-50%, 10%);
    padding-right: 80px;
}
.logo > .powered::before {
	content: "powered by";
    line-height: 20px;
    color: #6b6b6b;
    text-transform: uppercase;
}
.captcha-row { display: none}

#search-engines, #search-engines option {
	padding-left: 20px;
}
#search-engines .google {
	background: url(images/google-icon.png) no-repeat 6px center;
}
#search-engines .amazon {
	background: url(images/amazon-icon.png) no-repeat 6px center;
}
#search-engines .aol {
	background: url(images/aol-icon.png) no-repeat 6px center;
}
#search-engines .bing {
	background: url(images/bing-icon.png) no-repeat 6px center;
}
#search-engines .yahoo {
	background: url(images/yahoo-icon.png) no-repeat 6px center;
}
.logged {
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px;
	color: grey;
	z-index: 100;
	line-height: 38px;
}
.not-found {
    font-size: 25px;
    position: relative;
    top: 150px;
    text-align: center;
}
.bottom {
	height: 230px;
}
#mugshot-notice {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 5px;
	color: white;
	text-shadow: none;
}
.avatar:empty {
	background: #fff url(images/default-person.png) center no-repeat;
	background-size: cover;	
}
.avatar {
	display: inline-block;
	width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.31);
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.avatar > img {
	height: 100%;
	border: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.g-recaptcha > div {
	margin: 10px 0;
}
.qr-canvas {
	position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
}
.qr-canvas span {
	display: block;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
}
.qr-canvas span i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.qr-canvas span i.color-success {
	font-size: 3em;
}