gh/
.ssh/
.pki/
tmp/
Download
.Xauthority
.bash_logout
.bash_profile
.bashrc
.cache/
.gitconfig
.gtkrc-2.0
.icons/
.lesshst
.local/
.mozilla/
.oh-my-zsh/
.xinitrc
.zcompdump-J4R1M-5.9
.zcompdump-J4R1M-5.9.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
.config/google-chrome
Workspace
